*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --wrapper-height: 20rem;
    --font-size: 16px;
    font-size: var(--font-size);
}

.template {
    display: none !important;
}

.victory {
    background-color: rgba(0, 255, 0, 0.1) !important;
}

.defeat {
    background-color: rgba(255, 0, 0, 0.1) !important;
}

.flag {
    object-fit: cover;
    border-radius: 50%;
    background-color: #d7f7fc;
    width: 90px;
    height: 90px;
    padding: 14px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag::after {
    position: absolute;
    bottom: -1rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.flag--away::after {
    content: 'away';
}

.flag--home::after {
    content: 'home';
}

.wrapper--score {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    position: relative;
}


.score {
    font-size: 2rem;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: block;
    overflow-y: scroll;
    height: var(--wrapper-height);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scroll-snap-type: y mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::after {
    content: "";
    width: 100%;
    height: var(--wrapper-height);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
    z-index: 10;
    position: fixed;
    top: 0;
}

.carousel__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: -webkit-fill-available;
    padding: 0 12px;
    margin: auto 0;
    box-sizing: border-box;
    scroll-snap-align: center;
}

.carousel__item-body {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}